xml-resources/web-service-references/MiServicioWeb/wsdl/localhost_8084/MiServicioWeb/MiServicioWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://blogic.ws.mx.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://blogic.ws.mx.com/">

<xs:element name="saluda" type="tns:saluda" />

<xs:element name="saludaResponse" type="tns:saludaResponse" />

<xs:complexType name="saluda">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="saludaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>